@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

/* HEADER */
.cabecalho {
    background-color: black;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}

.logo {
    width: 100px;
    margin-left: 20px;
}

.container-links {
    display: flex;
    margin-right: 50px;
}

.link {
    text-decoration: none;
    color: white;
    margin-left: 40px;
}

.link:hover {
    text-decoration: underline;
}

/* MAIN */
main {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.home-text {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner {
    margin-top: 30px;
    width: 1000px;
    margin-bottom: 30px;
}

.container-banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SELECT */
.select {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.selectOpcao {
    width: 500px;
}

.selectOpcaoCorrida {
    width: 300px;
}

select:hover {
    cursor: pointer;
}

/* INPUTS */
.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.inputsCorrida {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 por linha */
    gap: 20px 40px; /* espaço entre linhas e colunas */
    max-width: 800px;
    margin: 40px auto; /* centraliza no meio da tela */
}

/* cada bloco de label + input */
.inputsCorrida > div {
    display: flex;
    flex-direction: column;
}
input, select {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
    transition: 0.2s;
}

input:focus,
select:focus {
    border-color: black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.divSaida{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* BOTÕES */
#btOk,
#btOkCorrida {
    margin-top: 30px;
    background-color: black;
    color: white;
    width: 165px;
    border-radius: 5px;
    padding: 6px;
    margin-bottom: 40px;
}

#btOk:hover,
#btOkCorrida:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/* TÍTULOS */
.title {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

/* ====== TABELA ====== */

#tableCorrida,#tableAtleta {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

/* tabela criada pelo JS */
#tableCorrida table,
#tableAtleta table {
    border-collapse: collapse;
    min-width: 400px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
}

/* cabeçalho */
#tableCorrida thead,
#tableAtleta thead {
    background-color: rgb(0, 0, 0);
}

/* títulos */
#tableCorrida th,
#tableAtleta th {
    color: white;
    padding: 14px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

/* células */
#tableCorrida td,
#tableAtleta td {
    padding: 12px 20px;
    text-align: center;
    font-size: 15px;
    border-bottom: 1px solid #ddd;
}

/* FOOTER */
footer {
    background-color: black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.container-footer {
    display: flex;
    align-items: center;
}

.brasil {
    width: 20px;
    margin-left: 10px;
}
