@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.cabecalho {
    background-color: black;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}

.logo {
    width: 100px;
    margin-left: 20px;
}

.container-links {
    display: flex;
    margin-right: 50px;
}

.link {
    text-decoration: none;
    color: white;
    margin-left: 40px;

}

.link:hover {
    text-decoration: underline;
}

/* MAIN ----------------------------------------------------------------------------------------------------------------------- */
main {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.home-text {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    margin-top: 30px;
    width: 1000px;
}

.select {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.selectOpcao {
    width: 500px;
}

.selectOpcaoCorrida {
    width: 300px;
}

.selectOpcaoCorrida:hover {
    cursor: pointer;
}

.selectOpcao:hover {
    cursor: pointer;
}

input {
    padding: 10px;
    font-size: 10px;
}

input,
select {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
    transition: 0.2s;
}

input:focus,
select:focus {
    border-color: black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

#btOkCorrida{
    margin-top: 30px;
    background-color: black;
    color: white;
    width: 165px;
    border-radius: 5px;
    padding: 6px;
    margin-bottom: 40px;
}

#btOkCorrida:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#btOk {
    margin-top: 30px;
    background-color: black;
    color: white;
    width: 165px;
    border-radius: 5px;
    padding: 6px;
    margin-bottom: 40px;
}

#btOk:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#outSaidaCorrida{
    margin-bottom: 50px;
}

#outSaida {
    margin-bottom: 10px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container-banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container onde a tabela aparece */
#table,#tableCorrida {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 40px;
}

/* Estilo da tabela gerada no JS */
#table table,#tableCorrida  {
    border-collapse: collapse;
    min-width: 400px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
}

/* Cabeçalho */
#table thead,#tableCorrida  {
    background-color: black;
    color: white;
}

/* Títulos */
#table th,#tableCorrida  {
    padding: 14px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

/* Células */
#table td,#tableCorrida  {
    padding: 12px 20px;
    text-align: center;
    font-size: 15px;
    border-bottom: 1px solid #ddd;
}

/* FOOTER ----------------------------------------------------------------------------------------------------------------------- */

footer {
    background-color: black;
    display: flex;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}

.container-footer {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.brasil {
    width: 20px;
    margin-left: 10px;
}